
  <nav class="black darken-6">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Ideaho</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home"><h4>Home</h4></a></li>
        <li><a href="/ideas"><h4>Ideas</h4></a></li>
        <li><a href="/auth/logout"><h4>Logout</h4></a></li>
      </ul>
    </div>
  </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/home"><h4>Home</h4></a></li>
        <li><a href="/ideas"><h4>Ideas</h4></a></li>
        <li><a href="/auth/logout"><h4>Logout</h4></a></li>
    </ul>