
  <nav class="black darken-6">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><span class="brand-title">Ideaho</span></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home"><span class="link">Home</span></a></li>
        <li><a href="/ideas"><span class="link">Ideas</span></a></li>
        <li><a href="/auth/logout" class="waves-effect waves-light btn findbtn">Logout</a></li>
      </ul>
    </div>
  </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/home"><h4>Home</h4></a></li>
        <li><a href="/ideas"><h4>Ideas</h4></a></li>
        <li><a href="/auth/logout"><h4>Logout</h4></a></li>
    </ul>