<h3 class="title">
    <i class="fas fa-book-open"></i>
    IDEAHO
</h3>

<div class="section">
    <p class="lead">Share Your Unique and Weird Ideas With People Around The World</p>
</div>
<div class="divider"></div>

<div class="section">
    <div class="container">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Login With Google account
        </a>
    </div>
</div>