/* body{
    background: black;
} */

p {
    margin: 0.6rem 0 !important;
}

.login__container{
    width: 35rem;
    margin-top: 10rem;
    text-align: center;

}

.title {
    margin-top: 5rem;
}

.section {
    margin-top: 0.3rem;
}