body{
    background-color: black;
    color: white;
}

p {
    margin: 0.6rem 0 !important;
}

.login__container{
    width: 35rem;
    margin-top: 10rem;
    text-align: center;
    color: black;
}

.title {
    margin-top: 5rem;
}

.section {
    margin-top: 0.3rem;
}

.nav-wrapper{
    margin: 0.5rem 2rem;
}

.findbtn{
    background-color: #5E35B1;
    margin-top: 5rem;
}

.link{
    font-size: 1.9rem;
}

.brand-title{
    font-size: 3.5rem;
}
  